.modelListWrapper {
  width: 100%;
  font-family: $noto;
  .titleWrapper {
    width: 100%;
    .title {
      font-size: $font-size-xl;
      font-weight: $font-weight-medium;
      letter-spacing: 9.6px;
    }
  }

  @include flex-center(column, 48px);
  .modelList {
    display: grid;
    width: 1280px;
    grid-template-columns: repeat(3, 400px);
    gap: 40px;
  }
}

@media (max-width:$mobile){
  .modelListWrapper {
  width: 100%;
  font-family: $noto;
  .titleWrapper {
    width: 100%;
    .title {
      font-size: $font-size-md;
      font-weight: $font-weight-medium;
      letter-spacing: 6px;
    }
  }

  @include flex-center(column, 48px);
  .modelList {
    display: grid;
    width: 380px;
    grid-template-columns: repeat(2, 160px);
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}
}